@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");



body{

    margin: 20px;
}
/* Components */
/* Buttons */

.btn-rounded{
    border-radius: 20px;
}

.btn-pie{
    border-radius: 0px 10px 0px 10px;
}

.btn-circle{
    border-radius: 50%;
}





.btn-red{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-red:hover{
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;   
}
.btn-outline-red{
    border-color: #dc3545;
}
.btn-outline-red:hover{
    color: white;
    background-color: #dc3545;
    border-color: #bd2130;
}

.btn-teal{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.btn-teal:hover{
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.btn-outline-teal{
    border-color: #17a2b8;
}
.btn-outline-teal:hover{
    color: white;
    background-color: #138496;
    border-color: #117a8b;
}

.btn-gray{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-gray:hover{
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-outline-gray{
    border-color: #6c757d;
}
.btn-outline-gray:hover{
    color: white;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-orange {
    background-color: orange;
    color: white;
    border-color: orange;
}
.btn-orange:hover{
    color:white;
    background-color: rgba(255, 166, 0, 0.712);
}
.btn-outline-orange{
    border-color: orange;
}
.btn-outline-orange:hover{
    color: white;
    background-color: orange;
    border-color: orange;
}
.btn-yellow {
    color: white;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-yellow:hover{
    color: white;
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-outline-yellow{
    border-color: #ffc107;
}
.btn-outline-yellow:hover{
    color: white;
    background-color: #d39e00;
    border-color: #d39e00;
}
.btn-green {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-green:hover{
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
.btn-outline-green{
    border-color: #218838;
}
.btn-outline-green:hover{
    color: white;
    background-color: #218838;
    border-color: #1e7e34;
}
.btn-blue {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-blue:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-outline-blue{
    border-color: #0069d9;
}
.btn-outline-blue:hover{
    color: white;
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-pink {
    background-color: hotpink;
    border-color: hotpink;
    color: white;
}
.btn-pink:hover {
    background-color: rgba(255, 105, 180, 0.692);
    border-color: rgba(255, 105, 180, 0.692);
    color: white;
}

.btn-outline-pink{
    border-color: hotpink;
}
.btn-outline-pink:hover{
    color: white;
    background-color: rgba(255, 105, 180, 0.692);
    border-color: rgba(255, 105, 180, 0.692);
}

/* Link */
.link:hover{
    text-decoration: none;
    font-weight:bolder;

}
